
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Javascript/Alert"></script>
    <title>Index</title>
</head>
<body>
    <div> 
        Javascript Controller-index view
    </div>
</body>
</html>
