

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1 style="color:red ;text-align:center">Data Projesi</h1>
        <a href="/Home/Index">Anasayfa</a>
        <a href="/Data/Webmaster">WebMaster</a>
        <a href="/Data/Personel">Personel Listesi</a>
        <a href="/Data/Adres">Şehir Listesi</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
