


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1 style="color:red ; text-align:center">Web ve Mobil Programalama Kursu</h1>

    </div>
    <a href="/Home/Index">Ana Sayfa</a>
    <a href="/Home/About">Hakkımızda</a>
    <a href="/Home/Contact">İletişim</a>
    <a href="/Home/Ref">Referanslarımız</a>
    <a href="/Home/Proje">Projeler</a>
    <a href="/Ik/Ik">Ik Projesi</a>
    <div>
        @RenderBody()
    </div>
</body>
</html>
