@model List<MvcCategories.Models.Categories>
@{
    ViewBag.Title = "Liste";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Kategori Listesi</h2>
<table  class="table table-hover table-responsive">
    <thead>
        <tr  class="table-success">
            <th>ID</th>
            <th>Ad</th>
            <th>Soyad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryID</td>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>
